
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <div style="display: flex; margin-top: 20px; justify-content: space-between">
                <h1>Chào bạn đến Trang Admin</h1>
            </div>
        </div>
    </main>
</div>


