@model IEnumerable<webcoso.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4 text-center" style="font-weight: 550; letter-spacing: 10px; color: #cba22ec7">DASHBOARD</h1>
            <ol class="breadcrumb mb-4 justify-content-center">
                <li class="breadcrumb-item active" style="font-size:14px">Trang Làm Việc Của Admin</li>
            </ol>
            <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-primary text-white mb-4">
                            <div class="card-body">Số lượng sản phẩm: </div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">View Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-warning text-white mb-4">
                            <div class="card-body">Số lượng Bình luận</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">View Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-success text-white mb-4">
                            <div class="card-body">Số lượng đánh giá</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">View Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-danger text-white mb-4">
                            <div class="card-body">Sớ lượng khách hàng</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-bar me-1"></i>
                            Doanh thu theo ngày
                        </div>
                        <div class="card-body" width="100%" height="40">
                            <style>
                                #container {
                                    height: 400px;
                                }

                                .highcharts-figure,
                                .highcharts-data-table table {
                                    min-width: 320px;
                                    max-width: 800px;
                                    margin: 1em auto;
                                }

                                .highcharts-data-table table {
                                    font-family: Verdana, sans-serif;
                                    border-collapse: collapse;
                                    border: 1px solid #ebebeb;
                                    margin: 10px auto;
                                    text-align: center;
                                    width: 100%;
                                    max-width: 500px;
                                }

                                .highcharts-data-table caption {
                                    padding: 1em 0;
                                    font-size: 1.2em;
                                    color: #555;
                                }

                                .highcharts-data-table th {
                                    font-weight: 600;
                                    padding: 0.5em;
                                }

                                .highcharts-data-table td,
                                .highcharts-data-table th,
                                .highcharts-data-table caption {
                                    padding: 0.5em;
                                }

                                .highcharts-data-table thead tr,
                                .highcharts-data-table tr:nth-child(even) {
                                    background: #f8f8f8;
                                }

                                .highcharts-data-table tr:hover {
                                    background: #f1f7ff;
                                }
                            </style>
                            <script src="https://code.highcharts.com/highcharts.js"></script>
                            <script src="https://code.highcharts.com/highcharts-more.js"></script>
                            <script src="https://code.highcharts.com/modules/exporting.js"></script>
                            <script src="https://code.highcharts.com/modules/export-data.js"></script>
                            <script src="https://code.highcharts.com/modules/accessibility.js"></script>

                            <figure class="highcharts-figure">
                                <div id="container"></div>
                            </figure>
                            <script>
                                $(document).ready(function (data) {
                                    $.getJSON("/Admin/GetData", function (data) {
                                        var motngay = []
                                        var tongmotngay = []
                                        for (var i = 0; i < data.length; i++) {
                                            motngay.push(data[i].Ngay);
                                            tongmotngay.push(data[i].tongtien);
                                            var stringTong1ngay = tongmotngay.toString() + "VNĐ"
                                        }
                                        ////
                                        const chart = Highcharts.chart('container', {
                                            title: {
                                                text: 'Bảng doanh thu theo ngày'
                                            },
                                            subtitle: {
                                                text: 'Điện Tử Chính Hãng - ATC'
                                            },
                                            xAxis: {
                                                categories: motngay,
                                            },
                                            series: [{
                                                type: 'column',
                                                colorByPoint: true,
                                                data: tongmotngay,
                                                showInLegend: false,
                                                name:"Tổng thu nhập"
                                            }]
                                        });

                                        document.getElementById('plain').addEventListener('click', () => {
                                            chart.update({
                                                chart: {
                                                    inverted: false,
                                                    polar: false,
                                                },
                                                subtitle: {
                                                    text: 'Plain'
                                                }
                                            });
                                        });

                                        document.getElementById('inverted').addEventListener('click', () => {
                                            chart.update({
                                                chart: {
                                                    inverted: true,
                                                    polar: false
                                                },
                                                subtitle: {
                                                    text: 'Inverted'
                                                }
                                            });
                                        });

                                        document.getElementById('polar').addEventListener('click', () => {
                                            chart.update({
                                                chart: {
                                                    inverted: false,
                                                    polar: true
                                                },
                                                subtitle: {
                                                    text: 'Polar'
                                                }
                                            });
                                        });

                                        ////
                                    })
                                })
                            </script>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Bảng thông tin tài khoản khách hàng
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Họ và tên</th>
                                <th>Địa chỉ</th>
                                <th>Số điện thoại</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Họ và tên</th>
                                <th>Địa chỉ</th>
                                <th>Số điện thoại</th>
                                <th>Email</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Address</td>
                                    <td>@item.PhoneNumber</td>
                                    <td>@item.Email</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="/Content/admin/js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="/Content/admin/assets/demo/chart-area-demo.js"></script>
<script src="/Content/admin/assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="/Content/admin/js/datatables-simple-demo.js"></script>
