@model IEnumerable<webcoso.Models.LinQ.AspNetUser>

@{
    Layout = null;
}
<div class="card-body">Sớ lượng khách hàng</div>
    <div class="card-footer d-flex align-items-center justify-content-between">
        <a class="small text-white stretched-link" href="#"><strong style="font-size: 20px"> @Model.Count()</strong></a>
    </div>