
@{
    ViewBag.Title = "thanhtoancanhan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="hero-wrap hero-bread" style="background-image: url('/Content/images/banner/laptop-tot-nhat-1638390226558.jpg'); ">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Đơn</a></span> <span>Hàng</span></p>
                <h1 class="mb-0 bread">Thanh toán cho chủ cửa hàng</h1>
            </div>
        </div>
    </div>
</div>

<div class="col">
    <div class="row">
        <div class="col-6">
            <h1 style="text-align:center;margin-top:20%;">Cách thanh toán:</h1>
            <p>- Sau khi đặt đơn xong thì ở phần nội dung đơn hàng sẽ xuất hiện mã đơn hàng, <strong>hãy điền mã đơn hàng ở phần nội dung cùng với số tiền chuyển đi</strong></p>
            <h3>Mẫu chuyển tiền:</h3>
            <div class="row">
                <div class="col-6">
                    <img width="50%" height="100%" src="~/Content/images/momo/841818bd95cf55910cde.jpg" />
                </div>
                <div class="col-6">
                    <img width="50%" height="100%" src="~/Content/images/momo/841818bd95cf55910cde.jpg" />
                </div>
            </div>
        </div>
        <div class="col-6"><img width="50%" height="100%" src="~/Content/images/momo/841818bd95cf55910cde.jpg" /></div>
    </div>
</div>